.main-comp {
    position: relative;
    width: 100%;
    top: -40px;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%; /* Налаштуй розмір за потреби */
    height: 100%;

}

.bg-img img {
    width: 100%;
    height: 100%;

}

.content-title, .carousel-container, .logo-container, .digest-container, .solid-container {
    position: relative;

    z-index: 1; /* Ensure these elements are above the background image */
}


.content-title {
    text-align: left;
    text-wrap: nowrap;
    position: relative;
    margin: 40px auto;
    max-width: 1225px;
    width: 90%;
}

.center-width {
    margin: 0 auto;

}

.title-1 {
    padding-top: 60px;
}

.titles {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #3B454E;
    text-transform: uppercase;
}

.carousel-container
{
    display: flex;

    margin: 0 auto;
    width: 90%; /* Адаптивна ширина */
    max-width: 1225px;
}

.logo-container {
    margin: 0 auto;
    width: 90%; /* Адаптивна ширина */
    max-width: 1225px;
}

.digest-container {

    width: 90%; /* Адаптивна ширина */
    max-width: 1310px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.solid-container {
    padding: 40px 20px;
    background-color: #3B454E;
    color: #ffffff;
    text-align: center;
}

.solid-container h3 {
    color: #ffffff;
}
