.credit-vin-container {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
}

.box-credit
{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.box-credit img
{
    width: 180px;
    margin:  0 50px;
}

.box-credit h2
{
    color: #707070;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin: 0;
}

.box-credit p
{
    color: #707070;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-right: 30px;
}

.box-credit button
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    background-color: #2E4F76;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
}

.info-tags{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.info-tags label{
    background-color: #F2F0F0;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.box-vin{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 60px;
}

.box-vin h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #707070;
    margin: 0;
}

.vin-tags{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.box-vin label{
    display: flex;
    flex-direction: row;
    background-color: #2E4F76;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.vin-code{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vin-code span{
    color: #2E4F76;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 12px 8px 12px;
    border-radius: 0  5px 5px 0;
    border: 1px solid #2E4F76;
}

.vin-code label{
    height: 43px;
    border-radius: 5px  0 0 5px ;
}

.check-vin-characteristics {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
}

.check-vin-characteristics p{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    gap: 10px;
}

.color-gray{
    color: #707070;
}
