
.photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.thumbnail-gallery {
    width: 120px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumbnail-gallery img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
}

.main-photo{
    position: relative;
    width: 740px;
    height: 560px;
}

.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail-gallery img,
.main-photo img {
    border-radius: 11px;
}


.arrow.left {
    left: 10px;
    transform: rotate(180deg);
}


.arrow.right {
    right: 10px;
}




.arrow {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-none-styles{
    background: none;
    border:none;
    padding: 0;
}

