
.nav-section{
    display:flex;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 120px;
    z-index: 1000;
    background-color: transparent; 
}

.menu-container a {
  display: flex;
  align-items: center;
  margin-right: 36px;
  color: #ffffff;
  text-decoration: none;
}

.menu,
.user-actions {
  display: flex;
  align-items: center;
}

.sell-car-btn {
   border-radius: 5px;
   background-color: #FFFFFF;
   font-size: 18px;
   font-weight: 600;
   color: #2E4F76 !important;
   padding: 12px 24px;
   text-align: center;
   text-transform: uppercase;
   height: 46px;
}

.profile-button {
   background-color: transparent;
   display: flex;
   align-items: center;
   color: #ffffff;
}

.user-actions img {
   margin-right: 16px;
}