.account-layout {
    width: 100%;

    height: auto;
    margin: 0 auto;
    position: relative;
    background-color: #f1f2f6;
}

.footer{
    width: 1919px;
    height: 510px;
    padding: 0;
}

.account-header{

    height: 450px;
    padding: 0;
    display: contents;
    background: linear-gradient(0deg, #F0F2F5 0%, #8C9BA9 100%);
}